body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none;
}

h1 {
    text-align: center;
}

#display-end-game {
    text-align: center;
}

#content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

line {
    background-color: white;
}

table {
    border-collapse: collapse;
    position: relative;
}

table td {
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    border: 5px solid white;
}

table td:hover {
    background-color: rgba(255 255 255 / 30%);
}

table tr:first-child td {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

button {
    margin-top: 80px;
    background-color: #323232;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: 5px solid white;
    padding: 8px;
    cursor: pointer;
}